/Tuan1/Lab1/nbproject/private/
/Tuan1/Lab1/dist/
/Tuan1/Lab1/build/
/Tuan1/Lab2/nbproject/private/
/Tuan1/Lab2/build/
/Tuan1/Lab3/nbproject/private/
/Tuan1/Lab3/build/
/Tuan1/Lab4/nbproject/private/
/Tuan1/Lab4/build/
/Tuan2/LamTaiLop/nbproject/private/
/Tuan2/LamTaiLop/build/
/Tuan3/BaiTap/nbproject/private/
/Tuan3/BaiTap/build/