/Tuan1/Lab1/nbproject/private/
/Tuan1/Lab1/dist/
/Tuan1/Lab1/build/
/Tuan1/Lab2/nbproject/private/
/Tuan1/Lab2/build/
/Tuan1/Lab3/nbproject/private/
/Tuan1/Lab3/build/
/Tuan1/Lab4/nbproject/private/
/Tuan1/Lab4/build/
/Tuan2/LamTaiLop/nbproject/private/
/Tuan2/LamTaiLop/build/
/Tuan3/BaiTap/nbproject/private/
/Tuan3/BaiTap/build/
/Tuan4/BaiTapTuan4/nbproject/private/
/Tuan4/BaiTapTuan4/build/
/11DHTTMT/nbproject/private/
/11DHTTMT/build/
/com.kiemtra/nbproject/private/
/HK6_Java_tuan_6/nbproject/private/
/HK6_Java_tuan_6/build/
/com.kiemtra/build/